.container {
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally within container */
  }
  .bottom-content {
    align-self: flex-start; /* Align to the left within the container */
  }

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
    flex: 6;
}
