<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Details of Company</h1>
    <form action="/submit" method="post">
        <div class="form-group">
         <label for="company_name">Company's name : </label><br>
         <input type="text" id="company_name" name="company_name"><br>
         </div>

        <div class="form-group">
        <label for="office_address">Regsitered Office Address : </label><br>
        <input type="text" id="office_address" name="office_address" required><br><br>
        </div>

        <div class="form-group">
          <label for="company_objectives">Company Objectives: </label><br>
          <textarea id="company_objectives" name="company_objectives" rows="4" required></textarea><br><br>
          </div>

          <div class="form-group">
            <label for="liability_members">Liability of Members:</label><br>
            <input type="text" id="liability_members" name="liability_members"><br><br>
        </div>

        <div class="form-group">
            <label for="share_capital">Share Capital:</label><br>
            <input type="text" id="share_capital" name="share_capital"><br><br>
        </div>
        <div class="form-group">
            <label for="association_clause">Association Clause:</label><br>
            <input type="text" id="association_clause" name="association_clause"><br><br>
        </div>
        <div class="form-group">
            <label for="subscription_clause">Subscription Clause:</label><br>
            <input type="text" id="subscription_clause" name="subscription_clause" ><br><br>
        </div>
        <div class="form-group">
            <label for="witness_clause">Witness Clause:</label><br>
            <input type="text" id="witness_clause" name="witness_clause" required><br><br>
        </div>
        <div class="form-group">
            <label for="today_date">Today's Date:</label><br>
            <input type="date" id="today_date" name="today_date" required><br><br>
        </div>
        <div class="form-group">
            <label for="shareholders">Shareholders:</label><br>
            <input type="text" id="shareholders" name="Shareholders" required><br><br>
        </div>
        <div class="form-group">
            <label for="directors">Directors:</label><br>
            <input type="text" id="directors" name="directors"><br><br>
        </div>
        <div class="form-group">
            <label for="meetings">Meetings:</label><br>
            <input type="text" id="meetings" name="meetings" ><br><br>
        </div>
        <div class="form-group">
            <label for="accounts_auditing">Accounts and Auditing:</label><br>
            <input type="text" id="accounts_auditing" name="accounts_auditing"><br><br>
        </div>
        <div class="form-group">
            <label for="miscellaneous_provisions">Miscellaneous provisions:</label><br>
            <input type="text" id="miscellaneous_provisions" name="miscellaneous_provisions"><br><br>
        </div>
        <div class="form-group">
            <label for="capital_structure">Capital Structure:</label><br>
            <input type="text" id="capital_structure" name="capital_structure"><br><br>
        </div>
        <div class="form-group">
            <label for="void_MOA">MOA to be void to the Extent of its Contradiction:</label><br>
            <input type="text" id="void_MOA" name="void_MOA"><br><br>
        </div>
        <div class="form-group">
            <label for="share_types">Types of Shares:</label><br>
            <input type="text" id="share_types" name="share_types"><br><br>
        </div>
        <div class="form-group">
            <label for="restriction">Restriction on Purchase or Transfer of Shares:</label><br>
            <input type="text" id="restriction" name="restriction"><br><br>
        </div>
        <div class="form-group">
            <label for="number_shares">Number of Shares Agreed by the Promoters to Subscribe:</label><br>
            <input type="text" id="number_shares" name="number_shares"><br><br>
        </div>

  <input type="submit" value="Submit">
    </form>
</body>
</html>


